html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: "Open Sans", sans-serif; /* this should be the rest of the output you got from Google fonts */
  background-color: #00539F; /*sets the background color for the webpage*/
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 600px; /*This forces the body to always be 600 pixels wide.*/

  margin: 0 auto; /* When you set two values on a property like margin or padding, 
  the first value affects the element's top and bottom side (setting it to 0 in this case); 
  the second value affects the left and right side. 
  (Here, auto is a special value that divides the available horizontal space evenly between left and right) */

  background-color: #FF9500;/*This sets the element's background color. 
  This project uses a reddish orange for the body background color, 
  as opposed to dark blue for the <html> element.*/

  padding: 0 60px 20px 20px;/*This sets four values for padding. The goal is to put some space around the content. 
  In this example, there is no padding on the top of the body, and 60 pixels on the right, bottom and left. 
  The values set top, right, bottom, left, in that order.*/

  border: 5px solid black;/*This sets values for the width, style and color of the border. 
  In this case, it's a five-pixel–wide, solid black border, on all sides of the body.*/
}

